{% extends 'layout.twig' %}

{% block title %}Giftbox - Prestations{% endblock %}

{% block content %}
    <h1>Liste des prestations pour la catégorie n°{{ categorie_id }}</h1>

    <ul>
        {% for prestation in prestations %}
            <li>
                <a href="{{ url_for('prestation_id', {'id': prestation.id}) }}">
                    {{ loop.index }} - {{ prestation.libelle }} - {{ prestation.description }} {{ prestation.id }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <p>
        <a href="{{ url_for('categorie_id', {'id': categorie_id}) }}">
            Retour à la catégorie
        </a>
    </p>
{% endblock %}