{% extends 'layout.twig' %}

{% block title %}Giftbox - Détail coffret type{% endblock %}

{% block content %}
    <h1>{{ coffretType.libelle }}</h1>
    <p>{{ coffret_type.description }}</p>
    <p>Thème : {{ coffret_type.theme_id }}</p>

    <h2>Liste des prestations</h2>
    <ul>
        {% for prestation in prestations %}
            <li>
                {{ loop.index }} - {{ prestation.libelle }} - {{ prestation.description }}
            </li>
        {% else %}
            <li>Aucune prestation associée à ce coffret type.</li>
        {% endfor %}
    </ul>

    <p>
        <a href="{{ url_for('coffret_types') }}">
            Retour à la liste des coffrets types
        </a>
    </p>
{% endblock %}