{% extends 'layout.twig' %}

{% block title %}Giftbox - Prestation{% endblock %}

{% block content %}
    <h1>Détail de la prestation</h1>

    <p>{{ id }} - {{ libelle }} - {{ description }}</p>

    <p>
        <a href="{{ url_for('categorie_id', {'id': categorie_id}) }}">
            Retour à la catégorie
        </a>
    </p>

    <p>
        <a href="{{ url_for('categorie_prestations', {'id': categorie_id}) }}">
            Retour à la liste des prestations
        </a>
    </p>
{% endblock %}