{% extends 'layout.twig' %}

{% block title %}Giftbox - Prestation{% endblock %}

{% block content %}
    <h1>Détail de la prestation</h1>

    <p>{{ id }} - {{ libelle }} - {{ description }}</p>

    {% if currentbox %}
    <form action="{{url_for('box_add_prestation', {'id': id})}}" method="post">
        <input type="hidden" name="csrf_token" value="{{csrf_token}}">
        <button type="submit">Ajouter à la box courante</button>
    </form>
    {% endif %}

    <img src="{{ img_path ~ image }}" alt="{{ libelle }}">

    <p>
        <a href="{{ url_for('categorie_id', {'id': categorie_id}) }}">
            Retour à la catégorie
        </a>
    </p>

    <p>
        <a href="{{ url_for('categorie_prestations', {'id': categorie_id}) }}">
            Retour à la liste des prestations
        </a>
    </p>
{% endblock %}
