<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giftbox - Prestations</title>
</head>
<body>
    <h1>Liste des prestations pour la catégorie : {{ categorie_id }}</h1>

    <ul>
        {% for prestation in prestations %}
            <li>
                {{ loop.index }} - {{ prestation.libelle }} - {{ prestation.description }} - (id: {{ prestation.id }})
            </li>
        {% endfor %}
    </ul>

    <p>
        <a href="{{ url_for('categorieID', {'id': categorie_id}) }}">
            Retour à la catégorie
        </a>


    </p>
</body>
</html>
