<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giftbox - Prestation ID</title>
</head>
<body>
    <h1>Prestation</h1>
    <p>Catégorie: {{ categorie_id }} | {{ id }} - {{ libelle }} - {{ description }}</p>
    <p>
        <a href="{{ url_for('categorie_prestations', {'id': categorie_id}) }}">Retour à la liste des prestations pour cette catégorie</a>
    </p>
</body>
</html>
